<nav class="top-menu">
  <ul class="flex items-center gap">
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Resources", resources_path %></li>
    <li class="flex items-center gap"> | <%= button_to "Logout", session_path, method: :delete, class: "cursor-pointer" %></li>
  </ul>
</nav>
