<h1 class="page-title">Resources</h1>

<div class="flex justify-end mbe-6">
  <%= button_to "Create a resource", new_resource_path, method: :get, class: "btn btn--primary", data: { turbo_frame: "modal" } %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Categories</th>
      <th></th>
    </tr>
  </thead>
  <%= tag.tbody id: "resources" do -%>
    <% @resources.each do |resource| %>
      <%= render "resource", resource: resource %>
    <% end %>
  <%- end -%>
</table>
<p class="empty-table-message">No resources found</p>