.form-group {
  margin-block-end: var(--size-4);
}

.form-label {
  display: block;
  margin-block-end: var(--size-1);
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
}

.form-label--required::after {
  content: " *";
  color: var(--color-negative);
}

.form-group__horizontal {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.form-group__horizontal .form-label {
  margin-block-end: 0;
}
