<h1 class="page-title">Categories</h1>
<div class="flex justify-end mbe-6">
  <%= button_to "Create a category", new_category_path, method: :get, class: "btn btn--primary", data: { turbo_frame: "modal" } %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th class="text-end"></th>
    </tr>
  </thead>
  <%= tag.tbody id: "categories" do -%>
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
  <%- end -%>
</table>
<p class="empty-table-message">No categories found</p>