<h1 class="page-title">Categories</h1>
<div class="flex justify-end">
  <%= button_to "Create a category", new_category_path, method: :get, class: "btn btn--primary", data: { turbo_frame: "modal" } %>
</div>
<% if @categories.any? %>
  <div class="table-list">
    <div class="table-list__header">
      <div class="table-list__cell">Name</div>
      <div class="table-list__cell">Description</div>
      <div class="table-list__cell"></div>
    </div>
    <div id="categories" class="table-list__body">
      <% @categories.each do |category| %>
        <%= render "category", category: category %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>No categories found</p>
  <%= link_to "Create a category", new_category_path %>
<% end %>